*{
    box-sizing: border-box;
}
body{
    background:#121212;
    color: white;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rules{
    margin-bottom: 50px;
    width: 700px;
    color: lightgray;
    font-size: 1em;
}

input[type="text"]{
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

button{
    background: lightgray;
    padding: 3px 10px;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    transition: background 200ms, transform 200ms, color 200ms;
}

input[type="submit"]{
    width: 80px;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    background: lightgray;
    transition: background 200ms, transform 200ms, color 200ms;
}

button:hover, input[type="submit"]:hover{
    transform: translateY(-2px);
    background: rgb(70, 70, 70);
    color: white;
}

button:active, input[type="submit"]:active{
    transform: translateY(2px);
}

button:focus, [type="submit"]:focus{
    outline: none;
}

.question h1, .game-title h1{
    color: white;
    font-size: 2.5em;
    transition: color 500ms;
    text-shadow: 0px 0px 15px black;
}

.options{
    display: flex;
    flex-wrap: wrap;
    width: 240px;
}

.option{
    margin: 10px;
    background: white;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 15px black;
    border-radius: 10px;
    transition: transform 200ms;
    cursor: pointer;
}

.option:hover{
    transform: translateY(-2px);
}

.option:active{
    transform: translateY(3px);
}

.hud{
    width: 250px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.box-glow{
    box-shadow: 0px 0px 20px rgb(30, 255, 0);
}

.blocked-input{
    pointer-events: none;
}

@keyframes correct {
    0%{
        color: rgb(0, 255, 0);;
        transform: scale(1);
    }
    100%{
        color: rgb(0, 255, 0);
        transform: scale(1.5);
        opacity: 0;
    }   
}

@keyframes wrong {
    0%{
        color: red;
        transform: translateX(0);
    }
    25%{
        color: red;
        transform: translateX(3px);
    }
    50%{
        color: red;
        transform: translateX(-6px);
    }
    100%{
        color: red;
        transform: translateX(3px);
    }      
}

@media only screen and (max-width: 600px) {
    .rules{
        width: 95%;
    }
}